USE [RLDG_TRIUMPH_PROD]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_TABLE_PERMISSION]    Script Date: 11/30/2009 14:09:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create   PROCEDURE [dbo].[SP_ALL_TABLE_PERMISSION] 
	@DB SYSNAME
AS

SET NOCOUNT ON
IF ISNULL(@DB,'') = '' BEGIN
    RAISERROR('THE PARAMETER ''%S'' WAS NOT SUPPLIED.',12,1,'DB') WITH NOWAIT
    RETURN(1)
END

DECLARE @PROC VARCHAR (1000)
DECLARE @EXEC1 NVARCHAR(4000)

--GIVE PERMISSION FOR TABLE

DECLARE CUR_PROC CURSOR
FOR 
select name from sysobjects where type='U'

OPEN CUR_PROC
FETCH NEXT FROM CUR_PROC INTO @PROC
WHILE (@@FETCH_STATUS = 0) BEGIN
		SELECT @EXEC1 = 'USE ' + @DB + '; GRANT ALL ON [' + @PROC + '] TO [LOGINCLINIC]'
		PRINT @EXEC1
		EXECUTE SP_EXECUTESQL @EXEC1
		FETCH NEXT FROM CUR_PROC INTO @PROC
END
CLOSE CUR_PROC
DEALLOCATE CUR_PROC


