USE [RLDG_TRIUMPH_PROD]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_PROC_PERMISSION]    Script Date: 11/30/2009 14:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALL_PROC_PERMISSION] 
	@DB SYSNAME
AS

SET NOCOUNT ON
IF ISNULL(@DB,'') = '' BEGIN
    RAISERROR('THE PARAMETER ''%S'' WAS NOT SUPPLIED.',12,1,'DB') WITH NOWAIT
    RETURN(1)
END


DECLARE @PROC VARCHAR (1000)
DECLARE @FUNC VARCHAR (1000)
DECLARE @EXEC1 NVARCHAR(4000)
DECLARE @EXEC2 NVARCHAR(4000)


CREATE TABLE #TMPPROCS (
	[PROC] NVARCHAR(150)
)
CREATE TABLE #TMPFUNCS (
	[FUNC] NVARCHAR(150)
)


INSERT INTO #TMPPROCS 
SELECT NAME 
FROM DBO.SYSOBJECTS
WHERE TYPE = 'P' AND NAME LIKE 'LSP_%'
ORDER BY NAME

INSERT INTO #TMPFUNCS
SELECT NAME 
FROM DBO.SYSOBJECTS
WHERE TYPE = 'TF' AND NAME LIKE 'LFN_%'
ORDER BY NAME

--GIVE PERMISSION FOR PROCEDURES

DECLARE CUR_PROC CURSOR
READ_ONLY
FOR 
SELECT [PROC] FROM #TMPPROCS

OPEN CUR_PROC

FETCH NEXT FROM CUR_PROC INTO @PROC

WHILE (@@FETCH_STATUS = 0) BEGIN
		SELECT @EXEC1 = 'USE ' + @DB + '; GRANT EXECUTE ON [' + @PROC + '] TO [LOGINCLINIC]'
		PRINT @EXEC1
		EXECUTE SP_EXECUTESQL @EXEC1
		FETCH NEXT FROM CUR_PROC INTO @PROC
END

--GIVE PERMISSION FOR USER-DEFINED FUNCTION
DECLARE CUR_FUNC CURSOR
READ_ONLY
FOR 
SELECT [FUNC] FROM #TMPFUNCS

OPEN CUR_FUNC

FETCH NEXT FROM CUR_FUNC INTO @FUNC
WHILE (@@FETCH_STATUS = 0) BEGIN
		--GIVE PERMISSION FOR USER-DEFINED FUNCTION
		SELECT @EXEC2 = 'USE ' + @DB + '; GRANT SELECT ON [' + @FUNC + '] TO [LOGINCLINIC]'
		PRINT @EXEC2
		EXECUTE SP_EXECUTESQL @EXEC2
		FETCH NEXT FROM CUR_FUNC INTO @FUNC
END

--GRANTING VIEW CREATION PERMISSION
GRANT CREATE VIEW TO LOGINCLINIC

CLOSE CUR_PROC
DEALLOCATE CUR_PROC

CLOSE CUR_FUNC
DEALLOCATE CUR_FUNC

DROP TABLE #TMPFUNCS
DROP TABLE #TMPPROCS
