SELECT * FROM [Caringpeople].[dbo].[usysversion]
--tblRequestedskill

Select * from tblRequestedskill
Select * from tblSignIn where attemptDate >='2011-01-17 09:13:15.170'

SELECT * FROM tblClientFunctionalLimitation WHERE signinidf >=68749
SELECT * FROM tblClientMentalAttribute WHERE signinidf >=68749
SELECT * FROM tblClientNeedRequirement WHERE signinidf >=68749
